# Script in /etc/systemd/system/{{ custom_service_name }}.service as {{ custom_service_name }} upstart service
# Ref: https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description={{ custom_service_name }} daemon service

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/{{ custom_service_name }} >> /var/log/{{ custom_service_name }}.log 2>&1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias={{ custom_service_name }}.service
